<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>PDF external signing application by eID Easy</title>
</head>
<body>
<h1>This application helps you add ETSI.CAdES.detached digital signatures to PDF files</h1>
<ul>
    <li><a href="https://github.com/eideasy/eideasy-external-pades-digital-signatures">Source code</a></li>
    <li><a href="https://hub.docker.com/repository/docker/eideasy/pades-external-digital-signatures">Docker machine</a>
    </li>
</ul>
</body>
</html>